<main>
  <h1 class="main-title">BoardGames</h1>
  <form action="">
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Password" />
    <div class="buttons-wrapper">
      <button class="register-button">
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </button>
      <button class="signin-button">Sign in</button>
    </div>
  </form>
  <hr />
  <span>Sign in with Google</span>
  <span>Sign in with Facebook</span>
</main>
